/* AgriTrack Austria Basis Stile */
html, body, #root {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #f8fafc;
}

.leaflet-container {
  height: 100%;
  width: 100%;
  z-index: 0;
}

/* Custom Marker Styling */
.vehicle-cursor {
  transition: transform 0.1s linear;
}

.custom-pin-icon {
  background: none;
  border: none;
}

.hide-scrollbar::-webkit-scrollbar {
  display: none;
}
.hide-scrollbar {
  -ms-overflow-style: none;
  scrollbar-width: none;
}
